.secondary-navigation, #masthead, .header-widget-region, .woocommerce-breadcrumb, .entry-header, #sidebar, #colophon {
	display: none;
}

nav.secondary-navigation {
	margin: 0 !important;
}

#content > .col-full {
	max-width: none;
}

.slide {
	position: relative;
	overflow: hidden;
	* {
		color: inherit;
	}
}

#slide1 {
	background: #2196f3;
	color: #fff;
	height: 100vh;
	position: relative;
	img {
		margin: auto;
		position: absolute;
		bottom: -70px;
		left: 0;
		right: 0;
	}
	h1 {
		font-size: 70px;
		text-align: center;
		margin: 16vh 0;
		position: relative;
		z-index: 1;
		text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
		letter-spacing: 2px;
	}
}

.fa-cloud {
	font-size: 160px;
	position: absolute;
	color: #ffffff;
	margin: -80px;
	animation: 34s l2r2l infinite;
}

#cloud1 {
	top: 11vh;
	left: 34vw;
}

#cloud2 {
	animation-duration: 23s;
	font-size: 250px;
	bottom: 11vh;
	left: 25vw;
}

#cloud3 {
	animation-duration: 25s;
	bottom: 43vh;
	left: 5vw;
}

#cloud4 {
	animation-duration: 29s;
	font-size: 110px;
	top: 34vh;
	right: 11vw;
}

#cloud5 {
	font-size: 340px;
	animation-duration: 38s;
	bottom: 35vh;
	right: 25vw;
}

@keyframes l2r2l {
	0% {
		transform: translateX(25%);
	}
	50% {
		transform: translateX(-25%);
	}
	100% {
		transform: translateX(25%);
	}
}

.ppb-tpl {
	width: calc( 50% - 20px);
	float: left;
	margin: 10px;
	box-shadow: 0 0 7px 1px rgba(0,0,0,0.5);
	overflow: hidden;

	img {
		box-shadow: 0 0 7px 1px rgba(0,0,0,0.5);
	}

	h3 {
		margin: 0.5em auto;
		text-align: center;
	}
}
